/* animation*/
	@keyframes  bliking{
		0% {opacity: 1;
		}
		100%{opacity: 0.2;			
		}
	}
/*/animation*/

body{font-family: 'Museo'; font-weight: 300;}
.main{position:relative;}
/* artboard-main */	
	.artboard-main{background: #ffd91c; position: absolute; width: 100%; top: 0; left:0;
		.main-wrapper{ display: flex; justify-content: center; height: 100%; align-items:center;}
		.dots{display: flex; flex-direction: column; width: 50px; align-items: flex-end;
			.dot{width: 15px; height: 15px;  background: rgba(255, 255, 255, 0.5); border-radius: 50%; position: relative; margin-bottom: 10px;
				&:nth-child(1){
					&:after{content: ''; display: block; position: absolute; background: #fff; width: 9px; height: 9px; top: 50%; left: 50%; margin-left: -4.5px; margin-top: -4.5px; border-radius: 50%;
					}
				}
			}
		}
		.header-wrapper{ width: 100%; 
				.heading{ color: #005b7e; width: 490px; margin: 0 auto; text-align: center; 
					h3{ margin: 0 0 35px 0; font-weight: 300;font-size: 60px;}
					
				}
				.under-heading{ color: #005b7e; width: 315px; margin: 0 auto; text-align: center;
					h5{margin: 0;font-size: 18px; line-height: 1.5; font-weight: 300;}
				}
			}
	}
/* /artboard-main */

/* artboard1 */	
	.artboard1{z-index: 10;
		.main-wrapper{
			.left-side{padding-right: 80px;
				.statement{
					
				}
			}
			.right-side{ max-width: 570px; padding-left: 80px; position: relative;
				.scroll-pane{padding-top: 45px;height: 345px;overflow: auto;
						.jspTrack{background: #ffd91c;
							.jspDrag{max-height: 75px; background: rgba(242, 206, 28, 0.8); border-radius: 45px; }
						}

						
					}
				.dialog-container{ padding-top: 45px;
					.row{
						&.active{
							.post{opacity: 1;}
						}
						&:nth-child(1){
							.post{max-width: 175px;}
						}
						&:nth-child(2){
							.post{max-width: 480px;}
						}
						&:nth-child(3){
							.post{max-width: 215px;}
						}
						.post{  background: #fff; display: flex; padding: 10px 0px 0 20px ; border-radius: 15px;position: relative;margin-bottom: 50px; opacity: 0; transition: 1s;
							&:after{content: ''; display: block; position: absolute;  border-bottom: 20px solid #fff; border-right: 20px solid transparent; left: 0; bottom: -9px; transform: rotate(90deg)}
							.text-wrapper{font-family: "Museo"; font-size: 24px;
								p{margin: 10px 0;}
							}
							
						}
					}
				}
				.printing-process{font-size: 18px; transition: 1s;
					&.hide-inner-text{	opacity:0;
					}
					p{animation-name: bliking; animation-duration: 1s;animation-iteration-count: infinite; animation-direction: alternate;}
				}
				.submit-button-wrapper{width: 100%; display: flex; justify-content: flex-end;
					.submit-button{background: #ffcc00; border: 1px solid #000; border-radius: 15px; padding: 20px 45px; display: inline-block;  cursor: pointer; opacity: 0; transition: 1s;
						&.show{opacity: 1;}
						span{font-size: 24px;}
					}
				}
				.description-text{ position: relative; bottom: -100px;
					p{font-size: 18px; line-height: 1.2;}
				}
			}
			.dots{display: flex; flex-direction: column; width: 150px; padding-top: 50px;
					.dot{width: 15px; height: 15px; background: rgba(255, 255, 255, 0.5); border-radius: 50%; position: relative; margin-bottom: 10px; 
						&:nth-child(1){
							&:after{content: ''; display: block; position: absolute; background: #fff; width: 9px; height: 9px; top: 50%; left: 50%; margin-left: -4.5px; margin-top: -4.5px; border-radius: 50%;
							}
						}
					}
				}
		}
	}
/* /artboard1 */	

/* artboard2 */
	.artboard2{z-index: 9;}
	.artboard2, .artboard-choice{
		.main-wrapper{display: flex; flex-wrap:wrap; max-width: 1024px; margin: 0 auto; justify-content: center; height: 100%; align-content:center;
			.header-wrapper{ width: 100%; 
				.heading{ color: #005b7e; width: 490px; margin: 0 auto; text-align: center; 
					h3{ margin: 0 0 35px 0; font-weight: 300;font-size: 60px;}
					
				}
				.under-heading{ color: #005b7e; width: 315px; margin: 0 auto; text-align: center; padding-bottom: 50px;
					h5{margin: 0;font-size: 18px; line-height: 1.5; font-weight: 300;}
				}
			}
			.choise-blog{width: 100%; display: flex; 
				.left-choise{ width: 320px;
					&:hover{cursor: pointer;
						.white-layout{
							.heart-button-wrapper{
								.heart-button{background: #ffd91c; border: none;
									
								}
							}
						}
					}
					.white-layout{background: #fff; border-radius: 15px;padding: 15px; display: flex; flex-wrap: wrap; width: 100%;
						.image-wrapper{border-radius: 15px;
							
						}
						.heart-button-wrapper{ width: 100%; display: flex; justify-content: center;padding: 20px 0 30px 0;align-content: center; align-items: center;
							.heart-button{  width: 56px; min-height: 56px; max-height: 56px; border: 1px solid #baecff; border-radius: 50%; display: flex; justify-content: center; align-items: center;  
								
							}
						}
					}
					.under-text{color: #005b7e; font-size: 24px; text-align: center;
						p{}
					}
				}
				.right-choise{width: 320px;
					&:hover{cursor: pointer;
						.white-layout{
							.heart-button-wrapper{
								.heart-button{background: #ffd91c; border: none;
									
								}
							}
						}
					}
					.white-layout{background: #fff; border-radius: 15px;padding: 15px; display: flex; flex-wrap: wrap; width: 100%; 
						.image-wrapper{border-radius: 15px;
							
						}
						.heart-button-wrapper{ width: 100%; display: flex; justify-content: center;padding: 20px 0 30px 0; align-content: center; align-items: center;
							.heart-button{  width: 56px; min-height: 56px; max-height: 56px; border: 1px solid #baecff; border-radius: 50%; display: flex; justify-content: center; align-items: center;  
								
							}
						}
					}
					.under-text{color: #005b7e; font-size: 24px; text-align: center;
						p{}
					}
				}
				.or-button-wrapper{flex: 1; display:flex; justify-content: center; align-items: center;
					.or-button{width: 110px; height: 110px; border: 2px dashed #156576; border-radius: 50%;margin-top: -50px; position: relative;
						&:after{content: ''; display: block; position: absolute; width: 84px; height: 84px; background: #ffe565; border-radius: 50%; top: 50%; left: 50%; margin-left: -42px; margin-top: -42px;  }
						p{margin: 0; font-size: 30px; color: #005b7e; position: relative; z-index: 1; line-height: 105px; text-align: center;font-weight: 700; text-transform: lowercase; 
						}
					}
				}
				.dots{margin-top: 80px;
				}
			}
		}
	}
/* /artboard2 */

/* /artboard3 */
		.artboard3{ z-index: 8;
			
		}
/* /artboard3 */

/* /artboard4 */
		.artboard4{ z-index: 7;
			
		}
/* /artboard4 */

/* /artboard5 */
		.artboard5{ z-index: 6;
			
		}
/* /artboard5 */

/* artboard6 */
	.artboard6{z-index: 5;
		.main-wrapper{  flex-wrap: nowrap; 
			.header-wrapper{width: 974px;
				.smile-images{ display: flex; justify-content: center;
					.row{						
						.post{  background: #fff; display: flex; padding: 5px 5px 5px 20px ; border-radius: 15px;position: relative;margin-bottom: 50px; transition: 1s;max-width: 175px;
							&:after{content: ''; display: block; position: absolute;  border-bottom: 20px solid #fff; border-right: 20px solid transparent; left: 0; bottom: -9px; transform: rotate(90deg)
							}						
						}
					}
				}
				.heading{width: 600px;}
				.submit-button-wrapper{width: 100%; display: flex; justify-content: center; padding-top:  100px;
					.submit-button{background: #ffcc00; border: 1px solid #005b7e; border-radius: 15px; padding: 20px 45px; display: inline-block;  cursor: pointer;  transition: 1s; color: #005b7e;
						&.show{opacity: 1;}
						span{font-size: 24px;}
					}
				}				
			}
			.dots{margin-top: 80px; justify-content: center;padding-bottom:30px;
				}
		}
	}
/* /artboard6 */

/* artboard7 */
	.artboard7{z-index: 4;
		.main-wrapper{flex-wrap: wrap; padding-top: 30px;
			.header-wrapper{margin-bottom: -35px;
				.heading{width:600px;
					h3{margin: 0 0 20px 0;}	
				}
				.under-heading{
					
				}
			}
			.result-block{display: flex;justify-content: center; position: relative; 
				.main-part-wrapper{display: flex; flex-wrap: wrap; justify-content: center; position: relative; max-width: 974px; width: 100%;
					.result{background: #fff; max-width: 705px; width: 100%; padding: 0 0 0 10px; display: flex; position: relative;margin-bottom: 30px; border-radius: 15px;
						align-items: center;
						.number{ color: #005b7e; font-size: 60px; line-height: 125px; width: 125px; text-align: center;margin-right: 10px;
							img{position: absolute; top: 0; left: 10px; }
						}
						.image-wrapper{padding-top: 7px; margin-right: 50px; 
							
						}
						.description-part{font-size: 24px; color: #005b7e; 
						}					
					}
					.share-part{width: 100%; display: flex; justify-content: center; flex-wrap: wrap;
							.share-heading{
								h3{font-weight: 300;font-size: 36px; color: #005b7e; margin-top: 0;}
							}
							.share-links{width: 100%; display: flex; justify-content: center;
								.pluso{min-height: 40px;
									.pluso-wrap{
										div{min-height: 40px; margin-right: 15px;}
											a{min-height: 40px;
												&.pluso-more{display: none;						
												}
											}
										
									}
								}
							}
						}
					.next-page{font-size: 24px;  text-align: center; color: #005b7e; cursor: pointer; width: 100%;
						p{text-decoration: underline;}
					}
				}
				.dots{right:0; padding-top: 220px;}
				
			}
		}
	}
/* /artboard7 */

/* artboard8 */
	.artboard8{color: #005b7e; z-index: 3;
		.main-wrapper{
			.header-wrapper{padding-bottom: 0;
				.heading{max-width: 960px; width: 100%;}
			}
			.statistick-block{ margin: 0 auto;
				.statistick-heading{text-align: center;
					h3{font-size: 16px;margin-bottom: 30px;
						
					}
				}
				.main-container{ max-width: 340px; padding: 30px 0 30px 80px; background: #fad51b;margin: 0 auto 30px;
					ol{font-size: 30px; font-family: 'Museo'; font-weight: 300; color: #005b7e;margin: 0;
						li{	margin-bottom: 5px;
						}
					}
				}
				.under-list-text{font-size: 24px; width: 680px; margin: 0 auto; text-align: center;margin: 30px 0;line-height: 1.5;
					
				}
				form{display: flex; justify-content: space-between;
					input{background: #fff; border-radius: 15px; width: 200px; border: none;line-height: 43px;text-align: center;
						&::-webkit-input-placeholder {color:#005b7e; }
						&::-moz-placeholder          {color:#005b7e; }/* Firefox 19+ */
						&:-moz-placeholder           {color:#005b7e; }/* Firefox 18- */
						&:-ms-input-placeholder      {color:#005b7e; }
					}
					button{border: 1px solid #005b7e; background: #fad51b;padding: 10px 30px; border-radius: 15px; font-size: 24px;}
					.error{ border: 1px solid red;}
				}
				.under-form-text{
					a{ color: #005b7e;}
				}
				.one-more-smile{text-align: center;
					
				}
			}	
			.dots{padding-bottom:40px;}	
		}
	}
/* /artboard8 */

/* footer */
	.footer{min-height: 70px;height: 70px;
		.main-wrapper{max-width: 1148px;display: flex; justify-content: space-between;
		margin: 0 auto;padding-top: 20px;
			.share-part{ font-size: 16px;  display: flex;
				.pluso{display: inline-block;
					a{min-height: 20px;
						&.pluso-more{display: none;
						
						}
					}
					
				}
				p{margin: 5px 10px 0 0 ;}
			}
			.central-part{
				p{margin: 5px 10px 0 0 ;}
				a{color:#ffcc00;}
			}
			.right-part{display: flex;
				img{}
				p{margin: 5px 10px 0 0 ;}
			}
		 }
	}
/* /footer */