<section class='artboard1 artboard-main'>
	<div class="main-wrapper">
		<div class="left-side">
			<div class="statement">
				<img src="images/logo.png">
			</div>
		</div>
		<div class="right-side">
			<div class="scroll-pane">
				<div class="dialog-container">
					<div class="row">
						<div class="post">
							<div class="text-wrapper">
								<p>Привет</p>
							</div>
							<div class="image-wrappper">
								<img src="images/artboard1-image1.png">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="post">
							<div class="text-wrapper">
								<p>Я хочу стать лучшим ЖК в Ростове.</p>	
							</div>
							<div class="image-wrappper">
								<img src="images/artboard1-image2.png">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="post">
							<div class="text-wrapper">	
								<p>Поможеш?</p>
							</div>
							<div class="image-wrappper">
								<img src="images/artboard1-image3.png">
							</div>	
						</div>
					</div>
				</div>
			</div>

			<div class="printing-process">
				<p>Печатает...</p>
			</div>

			<div class="submit-button-wrapper">
				<div class="submit-button">
					<span>Конечно!</span>
				</div>
			</div>

			<div class="description-text">
				<p>Участвуй в голосовании — выбери параметры, без которых, на твой взгляд, никак нельзя. Выбери самое важное.Я учту твое мнение и реализую мечты большинства :)</p>
			</div>

			<div class="dots">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
	</div>
</section>