<section class='artboard6  artboard-main'>
	<div class="main-wrapper">
		<div class="header-wrapper"> 
			<div class="smile-images">
				<div class="row">
					<div class="post">
						<div class="image-wrappper">
							<img src="images/artboard6-image1.png">
						</div>
					</div>
				</div>
			</div>
			<div class="heading">
				<h3>Спасибо за помощь!</h3>
			</div>
			<div class="under-heading">
				<h5>Интересно, какой Я по-твоему?</h5>
			</div>
			<div class="submit-button-wrapper">
				<div class="submit-button">
					<span>Узнать</span>
				</div>
			</div>
		</div>
		<div class="dots">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
	</div>
</section> 