<section class='artboard3 artboard-choice artboard-main'>
	<div class="main-wrapper">
		<div class="header-wrapper"> 
			<div class="heading">
				<h3>Что важнее?</h3>
			</div>
			<div class="under-heading">
				<h5>То, каким Я стану, зависит от тебя. Пожалуйста, будь внимательнее.</h5>
			</div>
		</div>
		<div class="choise-blog">
			<div class="left-choise choises" >
				<div class="white-layout">
					<div class="image-wrapper">
						<img src="images/choise-image3.jpg">
					</div>
					<div class="heart-button-wrapper">
						<div class="heart-button">
							<img src="images/blue-heart.png">
						</div>
					</div>
				</div>
				<div class="under-text">
					<p>Прогулочные аллеи</p>
				</div>
			</div>
			<div class="or-button-wrapper">
				<div class="or-button">
					<p>ИЛИ</p>
				</div>
			</div>
			<div class="right-choise choises">
				<div class="white-layout">
					<div class="image-wrapper">
						<img src="images/choise-image4.jpg">
					</div>
					<div class="heart-button-wrapper">
						<div class="heart-button">
							<img src="images/blue-heart.png">
						</div>
					</div>
				</div>
				<div class="under-text">
					<p>Уличные тренажеры</p>
				</div>
			</div>
			<div class="dots">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
	</div>
</section>