<section class='artboard8  artboard-main artboard-choice'>
	<div class="main-wrapper">
		<div class="header-wrapper"> 
			<div class="heading">
				<h3>А вот что выбирают другие люди:</h3>
			</div>			
		</div>
		<div class="statistick-block">
			<div class="statistick-heading">
				<h3>Проголосовало ХХХ человек</h3>
			</div>
			<div class="main-container">
				<ol>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
					<li>===-XX%</li>
				</ol>.
			</div>
			<div class="under-list-text">
				Я обещаю: три лидирующие позиции станут реальностью. Следи за результатами: они быстро меняются!
			</div>
			<form id="lookForResult">
				<input type="text" name="name" placeholder="Имя" required="required">
				<input type="email" name="e-mail" placeholder="E-mail" required="required">
				<button>Узнать итоги</button>
			</form>
			<div class="under-form-text">
				<p>Напиши в <a href="">группе</a>, каким должен быть Я. Автору самой дельной идеи — подарок.</p>
			</div>
			 <div class="one-more-smile">
				<img src="images/artboard8-image1.png">
			</div>
			
			
		</div>
		<div class="dots">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
			
	</div>
</section>