<section class='artboard7  artboard-main'>
	<div class="main-wrapper">
		<div class="header-wrapper"> 
			<div class="heading">
				<h3>В доме твоей мечты</h3>
			</div>
			<div class="under-heading">
				<h5>обязательно должны быть:</h5>
			</div>
			
		</div>
		<div class="result-block">
			<div class="result">
				<div class="number">
					<span>1</span>
					<img src="images/star-image.png">
				</div>
				<div class="image-wrapper">
					<img src="images/result-image1.png">
				</div>
				<div class="description-part">
					<p>Уютные беседки</p>
				</div>
			</div>

			<div class="result">
				<div class="number">
					<span>2</span>
					<img src="images/star-image.png">
				</div>
				<div class="image-wrapper">
					<img src="images/result-image2.png">
				</div>
				<div class="description-part">
					<p>Крытая детская площадка</p>
				</div>
			</div>

			<div class="result">
				<div class="number">
					<span>3</span>
					<img src="images/star-image.png">
				</div>
				<div class="image-wrapper">
					<img src="images/result-image3.png">
				</div>
				<div class="description-part">
					<p>Фитнесс-центр</p>
				</div>
			</div>
			<div class="dots">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
			<div class="share-part">
				<div class="share-heading">
					<h3>Пусть все узнают! Поделись результатом</h3>
				</div>
				<div class="share-links">
					<script type="text/javascript">(function() {
					  if (window.pluso)if (typeof window.pluso.start == "function") return;
					  if (window.ifpluso==undefined) { window.ifpluso = 1;
					    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
					    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
					    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
					    var h=d[g]('body')[0];
					    h.appendChild(s);
					  }})();</script>
					<div class="pluso" data-background="none;" data-options="big,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,google">						
					</div>
				</div>
			</div>
			<div class="next-page">
				<p>Смотри что выбирают другие!</p>
			</div>
			<div class="one-more-smile">
				<img src="images/artboard7-image1.png">
			</div>
		</div>
			
	</div>
</section>