<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="main-wrapper">
		<div class="share-part">
			<p>Расскажи обо мне друзьям</p>
			<script type="text/javascript">(function() {
			  if (window.pluso)if (typeof window.pluso.start == "function") return;
			  if (window.ifpluso==undefined) { window.ifpluso = 1;
			    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
			    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
			    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
			    var h=d[g]('body')[0];
			    h.appendChild(s);
			  }})();</script>
			<div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,nocounter,theme=01" data-services="vkontakte,odnoklassniki,facebook,google"></div>
		</div>
		<div class="central-part">
			<p>Проект компании <a href="">«Меритон»</a></p>
		</div>
		<div class="right-part">
			<p>Разработано в</p>
			<img src="images/footer-image1.png">
		</div>
	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="js/plagins/jquery.mousewheel.js"></script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="js/plagins/jquery.jscrollpane.min.js"></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
